/*All color codes have been picked from  https://www.rapidtables.com/web/color/RGB_Color.html */


.navbar-light .navbar-brand { /* overriding navbar.scss */
  color: white;
}
.navbar-light .navbar-brand:hover {
  color: white;
}
.navbar-light .navbar-nav .nav-link { /* overriding navbar.scss */
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}
 /* adding classes for user page */
.user-header-row {
  font-size: 20px;
  font-weight: bold;
  background-color: #202020;
  color: white;
}

#user-photo-section {
  margin-left: 40%;
}

.user-data {
  font-size: 20px;
  color: #505050;
}
