/*All color codes have been picked from  https://www.rapidtables.com/web/color/RGB_Color.html */


.navbar-light .navbar-brand { /* overriding navbar.scss */
  color: white;
}
.navbar-light .navbar-brand:hover {
  color: white;
}
.navbar-light .navbar-nav .nav-link { /* overriding navbar.scss */
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}
 /* adding classes for user page */
.user-header-row {
  font-size: 20px;
  font-weight: bold;
  background-color: #202020;
  color: white;
}

#user-photo-section {
  margin-left: 40%;
}

.user-data {
  font-size: 20px;
  color: #505050;
}

/* adding classes for Books page */
.add-book {
  background-color: #A0A0A0;
  height: 40px;
  padding-top: 8px;
  font: 20px;
}

.btn-center {
   margin-left: 45%;
}
.no-margin {
  margin: 7px 0 7px 0;
}

.header-bg {
  background-color: #202020;
  color: white;
}
.citation, .citation-user {
  font-size: 15px;
  color: #A0A0A0;
  margin-left:10%;
}
.citation-user {
  margin-left:0;
}
.anchor-style, .anchor-style:hover {
  color: green;
  text-decoration: none;
}
